* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../images/walpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vh;
    color: whitesmoke;
}

.container {
    padding: 200px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#quotes {
    position: absolute;
    bottom: 7%;
    left: 4%;
    width: 67%;
}

#hide {
    position: absolute;
    right: 10%;
    bottom: 5%;
    border: none;
}

.hidden {
    display: none;
}