*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
body{
    background-image: url("../images/walpaper.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       height: 100vh;
       color: whitesmoke;
}
.container{
    display: flex;
    padding: 200px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}